
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.intro{
	background-color: #af730f;
	color: white;
}

.intro p{
	display: inline-block;
}

.intro ul{
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	line-height: 2;
}

h1 {
	padding-top:40px;
	font-size: 60px;
	background-color: #af730f;
	color: white;
}

img {
	float: left;
	padding: 40px; 
}

body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Montserrat', sans-serif;
}

.menu{	
	margin: 10px;
}

.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	display: table-cell;
	font-size: 20px;
	text-transform: uppercase;
}

.menu a.is-current {
	color: black;
	background-color: grey; 
}

.menu a{
	color: black;
	display: block;
	padding: 20px;
	font-size: 20px;
	text-decoration: none;
	background-color: #e8e8e8;
}

.menu a:hover {
	color: black;
	background-color: #bababa;
}

.content p{	
	line-height: 2;
}

footer {
	
}

footer {
	font-size: 12px;
	position:absolute;
	height:30px;
}
